Cropped_Images/*
Cropped_Images/
Image_Clusters/*
Image_Clusters
Original_Images/*
Original_Images
Augmented_Images/*
Augmented_Images
Image_Features/*
Landmark_Detection/*
Landmark_Detection
FERET_Dataset/*
FERET_Dataset
OF_Aligned/*
OF_Aligned
OF_featurelist
OF_featurelist/*
Misc
Data/*
!README.md
shape_predictor_68_face_landmarks.dat

*/*.jpg
*.jpg
*.png
mnist_noisy+clean.pickle
