Cropped_Images/*
Cropped_Images/
Image_Clusters/*
Original_Images/*
Augmented_Images/*
Image_Features/*
Landmark_Detection/*
FERET_Dataset/*
OF_Aligned/*
OF_Aligned/
OF_featurelist/*
*/*.jpg
*.jpg
*.png
mnist_noisy+clean.pickle
